* {
    margin: 0;
    padding: 0;
    text-align: center;
}

.todo-app-container__div {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 50px auto;
    border: 1px solid gray;
    border-radius: 20px;
    box-shadow: 1px 1px 6px 1px;
    padding: 10px 20px;
}

.todo-input-container__div {
    margin-bottom: 10px;
}

.todo-input-container__div h1 {
    color: gray;
    text-shadow: 2px 2px 3px black;
}

.todo-list-container__div {
    display: flex;
    justify-content: space-evenly;
    flex-grow: 1;
}

.todo-input-form__div {
    margin-top: 10px;
}

.todo-input-form__div input{
    font-size: 20px;
    width: 350px;
    border: none;
    border-bottom: 1px solid black;
}

.todo-input-form__div input:focus {
    outline: none;
}

.todo-input-form__div button {
    margin-left: 10px;
    font-size: 16px;
    padding: 2px 20px;
    background-color: transparent;
    border-radius: 10px;
    border: 2px solid orange;
    color: orange;
    box-shadow: 1px 1px 5px;
}

.todo-input-form__div button:hover {
    background-color: orange;
    color: white;
}

.todo-list-compartment__div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.todo-list-compartment__div h3{
    color: gray;
    text-shadow: 1px 1px 2px black;
    margin-bottom: 10px;
}

.todo-list-items__div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.todo-item__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 10px;
}

.todo-item__div *:not(.todo-item-buttons__div) {
    flex-grow: 1;
    text-align: start;
}

.todo-item__div *:not(.todo-item-buttons__div):hover {
    background-color: antiquewhite;
}

.todo-item-buttons__div button {
    margin-left: 5px;
    background-color: transparent;
    border: 1px solid antiquewhite;
    border-radius: 5px;
    padding: 0 5px;
    box-shadow: 1px 1px 4px;
}
